<div class="col-md-2" id="menu">
    <ul class="nav nav-pills nav-stacked" id="nav">
        <li id="li1"><a th:href="@{/admin/showCourse}">课程管理<span class="badge pull-right">8</span></a></li>
        <li id="li2"><a th:href="@{/admin/showStudent}">学生管理<span class="badge pull-right">59</span></a></li>
        <li id="li3"><a th:href="@{/admin/showTeacher}">教师管理<span class="badge pull-right">10</span></a></li>
        <li id="li4"><a th:href="@{/admin/userPasswordRest}">账号密码重置<sapn class="glyphicon glyphicon-repeat pull-right" /></a></li>
        <li id="li5"><a th:href="@{/admin/passwordRest}">修改密码<sapn class="glyphicon glyphicon-pencil pull-right" /></a></li>
        <li><a th:href="@{/logout}">退出系统<sapn class="glyphicon glyphicon-log-out pull-right" /></a></li>
        <li class="disabled"><a href="##">Responsive</a></li>
    </ul>
</div>

