<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>课程信息显示</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 引入bootstrap -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<!-- 引入JQuery  bootstrap.js-->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- 顶栏 -->
	<div th:replace="teacher/top::#top"></div>
	<!-- 中间主体 -->
	<div class="container" id="content">
		<div class="row">
			<div th:replace="teacher/menu::#menu"></div>
			<div class="col-md-10">
				<div class="panel panel-default">
				    <div class="panel-heading">
						<div class="row">
					    	<h1 class="col-md-5">我教授的课程</h1>
							<form class="bs-example bs-example-form col-md-5" role="form" style="margin: 20px 0 10px 0;" action="/teacher/selectCourse" th:action="@{/teacher/selectCourse}"id="form1" method="post">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="请输入课程名" name="courseName">
									<span class="input-group-addon btn" th:onclick="'javascript:selectCourse()'" id="sub">搜索</span>
								</div>
							</form>

						</div>
				    </div>
				    <table class="table table-bordered" id="tab">
					        <thead>
					            <tr>
									<th>课程号</th>
									<th>课程名称</th>
									<th>授课老师编号</th>
									<th>上课地点</th>
									<th>周数</th>
									<th>上课时间</th>
									<th>学分</th>
									<th>院系</th>
									<th>课程类型</th>
									<th>操作</th>
					            </tr>
					        </thead>
					        <tbody>
                                <tr th:each="course:${courseList}" th:if="${courseList}!=null">
                                    <td th:text="${course.courseId}">1</td>
                                    <td th:text="${course.courseName}">数学</td>
                                    <td th:text="${course.teacherId}">1001</td>
                                    <td th:text="${course.classroom}">J5663</td>
                                    <td th:text="${course.courseWeek}">18</td>
                                    <td th:text="${course.courseTime}">周一</td>
                                    <td th:text="${course.credit}">3</td>
                                    <td th:text="${course.deptName}">101</td>
                                    <td th:text="${course.courseType}">必修课</td>
									<td>
										<button class="btn btn-default btn-xs btn-info" th:onClick="'javascript:gradeCourse('+${course.courseId}+')'">成绩</button>
										<!--弹出框-->
									</td>
								</tr>
							</th:forEach>
					        </tbody>
				    </table>
				    <div class="panel-footer">
							<nav style="text-align: center">
								<ul class="pagination" th:if="${pagingVO}!=null">
									<li><a th:href="@{'/teacher/showCourse?page='+${pagingVO.upPageNo}}">&laquo;上一页</a></li>
									<li class="active"><a href="" th:text="${pagingVO.curentPageNo}"></a></li>
									<li><a th:href="@{'/teacher/showCourse?page='+${pagingVO.curentPageNo+1}}" th:if="${pagingVO.curentPageNo+1 <= pagingVO.totalCount}" th:text="${pagingVO.curentPageNo+1}"></a></li>
									<li><a th:href="@{'/teacher/showCourse?page='+${pagingVO.curentPageNo+2}}" th:if="${pagingVO.curentPageNo+2 <= pagingVO.totalCount}" th:text="${pagingVO.curentPageNo+2}"></a></li>
									<li><a th:href="@{'/teacher/showCourse?page='+${pagingVO.curentPageNo+3}}" th:if="${pagingVO.curentPageNo+3 <= pagingVO.totalCount}" th:text="${pagingVO.curentPageNo+3}"></a></li>
									<li><a th:href="@{'/teacher/showCourse?page='+${pagingVO.totalCount}}">最后一页&raquo;</a></li>
								</ul>
							</nav>
				    </div>
				</div>

			</div>
		</div>
	</div>
	<div class="container" id="footer">
		<div class="row">
			<div class="col-md-12"></div>
		</div>
	</div>
</body>
	<script type="text/javascript">
		$("#1").addClass("active")

        function selectCourse(){
        	$("#form1").submit();
        }
        function gradeCourse(courseId){
        	window.location.href="/teacher/gradeCourse?courseId="+courseId;
        }
        window.onload = function change(){
            var tab = document.getElementById("tab");
            var rows = tab.rows;

            for (var i = 1; i < rows.length; i++) {
                var t = document.getElementById('tab').rows[i].cells[5].innerHTML;
                var frist = t.slice(0,1);
                var second = t.slice(1,2);
                var weekday;
                var classtime;
                switch (frist){
                    case '1':
                        weekday = "星期一";
                        break;
                    case '2':
                        weekday = "星期二";
                        break;
                    case '3':
                        weekday = "星期三";
                        break;
                    case '4':
                        weekday = "星期四";
                        break;
                    case '5':
                        weekday = "星期五";
                        break;
                    case '6':
                        weekday = "星期六";
                        break;
                    case '7':
                        weekday = "星期七";
                        break;
                }
                switch (second){
                    case '1':
                        classtime = "第一~二节课";
                        break;
                    case '2':
                        classtime = "第三~四节课";
                        break;
                    case '3':
                        classtime = "第五~六节课";
                        break;
                    case '4':
                        classtime = "第七~八节课";
                        break;
                    case '5':
                        classtime = "第九~十节课";
                        break;
                }
                document.getElementById('tab').rows[i].cells[5].innerText = weekday + " " + classtime;
            };
        }
	</script>
</html>